@font-face {
   font-family: 'Bulletto Killa';
   font-display: swap;
   src: url('file:///C:/Users/kepix/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-05-20_131130/fonts/Bulletto%20Killa/font.ttf');
}
